section.pic {
  position: relative;
  padding: 250px 0;
  background-image: url("../../pictures/Italy_1.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

section.pic2 {
  position: relative;
  padding: 250px 0;
  background-image: url("../../pictures/Saksa.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }
     