#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: transparent;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px; }
#mainNav .navbar-brand {
  color: fade(white, 70%);
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 2px; }
#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #ffffff; }
#mainNav .navbar-toggler {
  font-size: 15px;
  padding: 8px 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #222222; }
#mainNav .navbar-nav > li > a {
  font-size: 13px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase; }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color:rgba(255, 255, 255, 0.6); }  
  /*Kun linkki on aktiivinen*/
  #mainNav .navbar-nav > li > a.active {
    color: #ffffff !important;
    background-color: transparent; }
    #mainNav .navbar-nav > li > a.active:hover {
      color: #ffffff;
      background-color: transparent; }
#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222; }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #ffffff; }

/*Aktiivinen kun ruutu on iso*/
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent; }
    #mainNav .navbar-toggler {
      font-size: 18px; }
    #mainNav .navbar-nav > li > a {
      font-size: 16px;}
    
    #mainNav .navbar-brand {
      color: fade(white, 70%); }
      #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
        color: white; }
    #mainNav .navbar-nav > li > a,
    #mainNav .navbar-nav > li > a:focus {
      color: rgba(255, 255, 255, 0.7); }
      #mainNav .navbar-nav > li > a:hover,
      #mainNav .navbar-nav > li > a:focus:hover {
        color: white; }
    #mainNav.navbar-shrink {
      border-color: rgba(34, 34, 34, 0.1);
      background-color:rgba(255, 255, 255, 0.7); }
      #mainNav.navbar-shrink .navbar-brand {
        color: #222222; }
        #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
          color: #ffffff; }
      #mainNav.navbar-shrink .navbar-nav > li > a,
      #mainNav.navbar-shrink .navbar-nav > li > a:focus {
        color: #222222; }
        #mainNav.navbar-shrink .navbar-nav > li > a:hover,
        #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
          color: #ffffff; } }